{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="small-container order-detail">
    <div class="row align-items-start">
		<div class="col-lg-9">
			<div class="box-element" id="form-wrapper">
                <hr>
                <h3>Customer Information:</h3>
                <hr>
                <form id="form">
                    {% csrf_token %}
                    <div class="form-field">
                        <input required class="form-control" type="text" name="first_name" placeholder="First Name">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="last_name" placeholder="Last Name">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email">
                    </div>

                    <div id="shipping-info">      
                        <h4 class="mb-2 mt-3">Shipping Information:</h4>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Address" required>
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" placeholder="City" required>
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="state" placeholder="State" required>
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="country" placeholder="Country" required>
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="zipcode" placeholder="Zip code" required>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <input id="place-order" class="btn m-0" type="submit" value="Place Order">
                    </div>
                </form>
		    </div>
			
		</div>
        <div class="col-lg-3">
            <div class="box-element">
                <div class="col-md-5">
                    <table class="table table-borderless">
                        <hr>
                        <h3>Order Summary</h3>
                        <hr>
                        <tbody class="totals">
                            <tr>
                                <td>
                                    <div class="text-left"> <span class="text-muted">Subtotal</span> </div>
                                </td>
                                <td>
                                    <div class="text-right"> <span id="subtotal">${{priceValues.subtotal|floatformat:2}}</span> </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="text-left"> <span class="text-muted">Discount</span> </div>
                                </td>
                                <td>
                                    <div class="text-right"> <span class="text-success" id="discount">${{priceValues.discount}}</span> </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="text-left"> <span class="text-muted">Shipping Fee</span> </div>
                                </td>
                                <td>
                                    <div class="text-right"> <span>$5.00</span> </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="text-left"> <span class="text-muted">Tax Fee</span> </div>
                                </td>
                                <td>
                                    <div class="text-right"> <span id="tax">${{priceValues.tax}}</span> </div>
                                </td>
                            </tr>
                            <tr class="border-top border-bottom">
                                <td>
                                    <div class="text-left"> <span class="font-weight-bold">Total</span> </div>
                                </td>
                                <td>
                                    <div class="text-right"> <span class="font-weight-bold" id="total">${{priceValues.total}}</span> </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{{ priceValues.subtotal|floatformat:2|json_script:'subtotal' }}
<script type="text/javascript">

 
    window.onload = () => {
        const initialPrice = parseFloat(document.getElementById("subtotal").textContent.replace("$", ""), 2)
    const discountPrice = parseFloat(localStorage.getItem("finalOffer"))
    const discount = initialPrice - discountPrice

    const taxAmount = 0.13 * discountPrice
    const shippingFee = 5.00

    const total = discountPrice + taxAmount + shippingFee

    console.log(initialPrice)

    document.getElementById("subtotal").textContent = "$" + initialPrice.toFixed(2)
    document.getElementById("tax").textContent = "$" + taxAmount.toFixed(2)
    document.getElementById("total").textContent = "$" + total.toFixed(2)
    document.getElementById("discount").textContent = "$" + discount.toFixed(2)
        
    }

    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
    })


    document.getElementById('place-order').addEventListener('click', function(e){
	    	submitFormData()
    })

    function submitFormData(){
	    	var userFormData = {
				'first_name':form.first_name.value,
				'last_name':form.last_name.value,
				'email':form.email.value,
				'total':total,
                'subtotal': subtotal
			}

			var shippingInfo = {
				'address':form.address.value,
				'city':form.city.value,
				'state':form.state.value,
				'country':form.country.value,
				'zipcode':form.zipcode.value,
			}

	    	var url = "/process_order/"
            const validation = form.first_name.value !== '' && 
                                form.last_name.value !== '' && 
                                form.email.value !== '' &&
                                form.address.value !== '' &&
                                form.city.value !== '' &&
                                form.country.value !== '' &&
                                form.zipcode.value !== ''
            if(validation)
            {
                fetch(url, {
                    method:'POST',
                    headers:{
                        'Content-Type':'applicaiton/json',
                        'X-CSRFToken':csrftoken,
                    }, 
                    body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
                })
                .then((response) => response.json())
                .then((data) => {
                    cart = {}
                    document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
                    window.location.href = "{% url 'order-completed' %}"
                })
            }
	    }
</script>

{% endblock %}