{% extends 'base.html' %}
{% block content %}
<div class="small-container order-detail">
    <div class="row align-items-start">
		<div class="col-lg-9">
			<div class="box-element" id="form-wrapper">
                <hr>
                <h3>Customer Information:</h3>
                <hr>
                <form id="form">
                    {% csrf_token %}
                    <div class="form-field">
                        <input required class="form-control" type="text" name="first_name" placeholder="First Name">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="last_name" placeholder="Last Name">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email">
                    </div>

                    <div id="shipping-info">      
                        <h4 class="mb-2 mt-3">Shipping Information:</h4>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Address">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" placeholder="City">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="state" placeholder="State">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="country" placeholder="Country">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="zipcode" placeholder="Zip code">
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <input id="place-order" class="btn m-0" type="submit" value="Place Order">
                    </div>
                </form>
		    </div>
			
		</div>
        <div class="col-lg-3">
            <div class="box-element">
                <div class="col-md-5">
                    <table class="table table-borderless">
                        <hr>
                        <h3>Order Summary</h3>
                        <hr>
                        <tbody class="totals">
                            <tr>
                                <td>
                                    <div class="text-left"> <span class="text-muted">Subtotal</span> </div>
                                </td>
                                <td>
                                    <div class="text-right"> <span>${{priceValues.subtotal|floatformat:2}}</span> </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="text-left"> <span class="text-muted">Shipping Fee</span> </div>
                                </td>
                                <td>
                                    <div class="text-right"> <span>$5</span> </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="text-left"> <span class="text-muted">Tax Fee</span> </div>
                                </td>
                                <td>
                                    <div class="text-right"> <span>${{priceValues.tax}}</span> </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="text-left"> <span class="text-muted">Discount</span> </div>
                                </td>
                                <td>
                                    <div class="text-right"> <span class="text-success">${{priceValues.discount}}</span> </div>
                                </td>
                            </tr>
                            <tr class="border-top border-bottom">
                                <td>
                                    <div class="text-left"> <span class="font-weight-bold">Total</span> </div>
                                </td>
                                <td>
                                    <div class="text-right"> <span class="font-weight-bold">${{priceValues.total}}</span> </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var subtotal = '{{order.get_cart_total|floatformat:2}}'
    var total = '{{priceValues.total}}'

    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
    })


    document.getElementById('place-order').addEventListener('click', function(e){
	    	submitFormData()
    })

    function submitFormData(){
	    	var userFormData = {
				'first_name':form.first_name.value,
				'last_name':form.last_name.value,
				'email':form.email.value,
				'total':total,
                'subtotal': subtotal
			}

			var shippingInfo = {
				'address':form.address.value,
				'city':form.city.value,
				'state':form.state.value,
				'country':form.country.value,
				'zipcode':form.zipcode.value,
			}

	    	var url = "/process_order/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
	    		}, 
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
	    		
	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				alert('Transaction completed');  

				cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
                window.location.href = "{% url 'order-completed' %}"
            })
	    }
</script>
{% endblock %}